.small-container {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  h1 {
    text-transform: uppercase;
  }
  .pp-terms {
    justify-content: space-around;
    margin-top: 1em;
    a {
      color: #52bbb6;
      font-weight: bold;
    }
  }
  button {
    width: 100%;
    margin-bottom: 1em;
  }
}
.login-logo {
  color: #4d4d4d;
  font-weight: bold;
  font-size: 35px;
  margin-top: 1em;
  display: block;
}
