.store {
  background: rgb(3, 19, 35) !important;
  background: -moz-linear-gradient(
    180deg,
    rgba(3, 19, 35, 1) 0%,
    rgba(3, 19, 35, 1) 35%,
    rgba(39, 98, 120, 1) 100%
  ) !important;
  background: -webkit-linear-gradient(
    180deg,
    rgba(3, 19, 35, 1) 0%,
    rgba(3, 19, 35, 1) 35%,
    rgba(39, 98, 120, 1) 100%
  ) !important;
  background: linear-gradient(
    180deg,
    rgba(3, 19, 35, 1) 0%,
    rgba(3, 19, 35, 1) 35%,
    rgba(39, 98, 120, 1) 100%
  ) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#031323",endColorstr="#276278",GradientType=1) !important;
  padding: 0 20px !important;
  color: white !important;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px #ff6067;
  justify-content: center;
  display: flex;
  align-items: center;
  path {
    fill: white !important;
  }
}

.home {
  background: #ff6067;
  padding: 0 20px !important;
  color: white !important;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px #ff6067;
  justify-content: center;
  display: flex;
  align-items: center;
  path {
    fill: white !important;
  }
}

// .header-menu {
//   .anticon {
//     & + span {
//       margin-top: 5px;
//     }
//   }
// }

.anticon-home {
  background: #ff6067;
  box-shadow: 0px 0px 0px 8px #ff6067;
  border-radius: 50%;
  path {
    fill: white;
  }
}
